<div class= "container">
    <div class="row">
        <div class="card col s12">
            <div class="card-content">
              <span class="card-title">새 글 작성하기</span>
              <%= form_tag posts_path, multipart: true do %>
                  <div class="input-field">
                    <%= file_field_tag :image %>
                  </div>
                  
                  <div class= "input-field">
                      <%= text_area_tag :content, nil, class: "materialize-textarea"%>
                  </div>
                  
                  <div class="input-field">
                      <%= button_tag "작성하기", class: "btn orange lighten-3"%>
                  </div>
              <% end %>
            </div>
          
        </div>
      </div>
 </div>