// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pre-line {
    white-space: pre-line;
}
.fixed-action-btn{
right:50px;/*desired value*/
}

.margin-bottom{
    margin-bottom:20px;
}

.margin-top{
    margin-top:20px;
}
